/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.siyuanren body {
  position: relative;
  padding-top: 40px;
}
.siyuanren .navbar .navbar-inner {
  background-image: none;
  background-color: #000000;
  border: none;
}
.siyuanren .navbar .navbar-inner .active a {
  color: #ffffff;
  background-color: #333333;
}
.siyuanren .navbar .brand,
.siyuanren .navbar .nav > li > a {
  text-shadow: none;
  color: #aaaaaa;
}
.siyuanren .navbar .brand:hover,
.siyuanren .navbar .nav > li > a:hover {
  color: #ffffff;
  background-color: #333333;
}
.siyuanren footer {
  color: #aaaaaa;
}
