/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.siyuanren body {
  position: relative;
  padding-top: 40px;
}
.siyuanren .navbar .navbar-inner {
  background-image: none;
  background-color: #000000;
  border: none;
}
.siyuanren .navbar .navbar-inner .active a {
  color: #ffffff;
  background-color: #333333;
}
.siyuanren .navbar .brand,
.siyuanren .navbar .nav > li > a {
  text-shadow: none;
  color: #aaaaaa;
}
.siyuanren .navbar .brand:hover,
.siyuanren .navbar .nav > li > a:hover {
  color: #ffffff;
  background-color: #333333;
}
.siyuanren .navbar .search {
  display: inline-block;
  margin: 5px;
}
.siyuanren .navbar .search input {
  margin: 0px;
  background-color: #000000;
  border-corlor: #aaaaaa;
}
.siyuanren .navbar .search input:hover {
  background-color: #333333;
}
.siyuanren footer {
  color: #aaaaaa;
}
.siyuanren .small-empty-row {
  height: 20px;
}
.siyuanren .large-empty-row {
  height: 20px;
}
