<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form action='/login' method='post'>
       <input type='text' name='name'></input>
       <input type='text' name='pswd'></input>
       <input type="submit" value="Submit">  
   </form>
</body>
</html>
