<!DOCTYPE html>
<html>
  <head>
    <title>Logout</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Logout</h1>
    <p>Bye, we will miss you!</p>
  </body>
</html>
