<!DOCTYPE html>
<html lang="en" class="dk_fouc has-js">
  <head>
    <title>思源人</title>

    <link rel="stylesheet" href="/editablegrid/editablegrid-2.0.1.css" type="text/css" media="screen">
    <style type="text/css">
    body { font-family:'lucida grande', tahoma, verdana, arial, sans-serif; font-size:11px; }
    h1 { font-size: 15px; }
    a { color: #548dc4; text-decoration: none; }
    a:hover { text-decoration: underline; }
    table.testgrid { border-collapse: collapse; border: 1px solid #CCB; width: 800px; }
    table.testgrid td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
    table.testgrid th { background: #E5E5E5; text-align: left; }
    input.invalid { background: red; color: #FDFDFD; }
    </style>
  </head>
  <body >
 
    <div id="tablecontent"></div>

    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='/jquery/jquery.serialize-object.compiled.js'></script>

    <!-- For EditableGrid -->
    <script src="/editablegrid/editablegrid-2.0.1.js"></script>

    <!-- For Application -->
    <script src='/javascripts/peopletable.js'></script>
  </body>
</html>
