<!DOCTYPE html>
<html lang="en" class="dk_fouc has-js">
  <head>
    <title>思源人</title>

    <link rel="stylesheet" href="/editablegrid/editablegrid-2.0.1.css" type="text/css" media="screen">
    <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      border: 0;
      border-spacing: 0;
    }
    </style>
  </head>
  <body >
 
    <div id="tablecontent"></div>

    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='/javascripts/jquery.serialize-object.compiled.js'></script>

    <!-- For EditableGrid -->
    <script src="/editablegrid/editablegrid-2.0.1.js"></script>

    <!-- For Application -->
    <script src='/javascripts/peopletable.js'></script>
  </body>
</html>
