h1 查询
p 确认某位同学是思源的
.hero-unit
    form.form-horizontal(ng-submit="login()", name="loginForm")
        .control-group
            label.control-label(for="fullname") 姓名
            .controls
                input(type="fullname", data-ng-model="fullname", placeholder="姓名", name="fullname", required)
        .control-group
            label.control-label(for="yearofclass") 入学年级
            .controls
                input(type="yearofclass", data-ng-model="yearofclass", placeholder="入学年级", name="yearofclass")
        .control-group
            .controls
                button.btn(type="submit") 查询
