#forgot-password-page.container
    .extra-large-empty-row
    .row(data-ng-hide='success')
        form.login-form.span4.offset4(ng-submit="submit()", name="submitForm")
            .login-header 找回密码
            .login-body
                .container-fluid
                    .row-fluid
                        label.span12(for="username") 邮箱
                    .row-fluid
                        input.span12(type="text", data-ng-model="username", name="username", required)
                    .small-empty-row
                    .row-fluid
                        .btn-group
                            button.btn.btn-success(type="submit") 提交
    .row(data-ng-show='success')
        form.login-form.span4.offset4(ng-submit="submit()", name="submitForm")
            .login-header 找回密码
            .login-body
                .container-fluid
                    .row-fluid
                        label.span12() 成功发出密码重设邮件，请查收
