carousel(interval='myInterval')
    slide(ng-repeat='slide in slides', active='slide.active')
        img(ng-src='{{slide.image}}', style='margin: auto;')
        .carousel-caption
            h4 {{slide.title}}
            p {{slide.text}}