
.modal-header
    h1 请注册
.modal-body.text-center
    div
        input(ng-model="username", placeholder="username")
    div.margin-top-20
        input(ng-model="siyuanid", placeholder="siyuanid")
    div.margin-top-20
        input(ng-model="email", placeholder="email")
.modal-footer
    button.btn.btn-primary(ng-click="close(username, siyuanid, email)") 保存
    button.btn.btn-cancel(ng-click="close(null)") 取消

