.large-empty-row
.container
    .hero-unit
        h1 请登录
        br
        p 思源欢迎你

        form.form-horizontal(ng-submit="login()", name="loginForm")
            .control-group
                label.control-label(for="username") 登录邮箱
                .controls
                    input(type="text", data-ng-model="username", placeholder="登录邮箱", name="username", required)
            .control-group
                label.control-label(for="password") 密码
                .controls
                    input(type="password", data-ng-model="password", placeholder="密码", name="password", required)
            .control-group
                .controls
                    label(for="rememberme").checkbox
                        input(type="checkbox", data-ng-model="rememberme", name="rememberme", value="0")
                        | 下次自动登录
            .control-group
                .controls
                    button.btn(type="submit") 登录
        hr
        p ... 如果你已经关联社交网站账户，可以使用如下方式登录:
        .btn-group
            a.btn(href="", data-ng-click="loginOauth('facebook')")
                i.icon-facebook-sign
                |  Facebook
            a.btn(href="", data-ng-click="loginOauth('twitter')")
                i.icon-twitter
                |  Twitter
            a.btn(href="", data-ng-click="loginOauth('google')")
                i.icon-google-plus-sign
                |  Google
            a.btn(href="", data-ng-click="loginOauth('linkedin')")
                i.icon-linkedin
                |  LinkedIn
            a.btn(href="", data-ng-click="loginOauth('weibo')")
                i.icon-weibo
                |  Weibo
            a.btn(href="", data-ng-click="loginOauth('renren')")
                i.icon-renren
                |  Renren
