#login-page.container
    .extra-large-empty-row
    .row
        form.login-form.span4.offset4(ng-submit="login()", name="loginForm")
            .login-header 登录
            .login-body
                .container-fluid

                    .row-fluid
                        label.span12(for="username") 邮箱
                    .row-fluid
                        input.span12(type="text", data-ng-model="username", name="username", required)
                    .row-fluid
                        label.span12(for="password") 密码
                    .row-fluid
                        input.span12(type="password", data-ng-model="password", name="password", required)
                    .small-empty-row
                    .row-fluid.btn-group
                        button.span8.btn.btn-success(type="submit") 登录
                        button.span4.btn.btn-success.dropdown-toggle(data-toggle="dropdown", href="#")
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="", data-ng-click="loginOauth('facebook')")
                                    i.icon-facebook-sign
                                    | Facebook
                            li
                                a(href="", data-ng-click="loginOauth('twitter')")
                                    i.icon-twitter
                                    | Twitter
                            li
                                a(href="", data-ng-click="loginOauth('google')")
                                    i.icon-google-plus-sign
                                    | Google
                            li
                                a(href="", data-ng-click="loginOauth('linkedin')")
                                    i.icon-linkedin
                                    | LinkedIn
                            li
                                a(href="", data-ng-click="loginOauth('weibo')")
                                    i.icon-weibo
                                    | Weibo
                            li
                                a(href="", data-ng-click="loginOauth('renren')")
                                    i.icon-renren
                                    | Renren

