.row
    .container.span10
        label(for='filter') Filter:
        input#filter(type='text', data-cip-id='filter')
        br
        button.btn(onclick='peopletable.onClickCreate(1)') Create
        #tablecontent.table.table-striped.table-bordered
    .container.span2
        h3 'Current Online User:'
        ul
            li(ng-repeat='otherUser in otherUsers')
                a(href='/user/username/{{otherUser}}')
                    '{{otherUser}}'