#peopleTablePage.container
    .large-empty-row
    h1 通讯录
    p 双击可以直接编辑
    .small-empty-row
    .row
        label.span1(for='filter') 筛选
        input.span5#filter(style='float:left;', type='text', data-cip-id='filter')

    .row
        label.span1 信息项

        div#fieldsSelector.span5(type='text')

            label(ng-repeat="field in fields")
                input(type="checkbox", value="{{field.name}}", ng-checked="field.checked", ng-model="field.checked")
                span {{field.name}}

    #loadingIndicatorPanel
        .row
            .span12#loadingIndicator
                img.centerHorizontal.centerVertical(src='/img/loadingIndicator.gif', alt='Loading...')
    #tablePanel
        .row
            .span12#paginator.pagination
        .row
            .span12
                #tablecontent
    .large-empty-row