h1 注册
form.form-horizontal(ng-submit="register()", name="registerForm")
    .control-group
        label.control-label(for="username") 用户名
        .controls
            input(type="text", data-ng-model="username", placeholder="Username", name="username", required, data-ng-minlength="1", data-ng-maxlength="20")
    .control-group
        label.control-label(for="password") 密码
        .controls
            input(type="password", data-ng-model="password", placeholder="Password", name="password", required, data-ng-minlength="0", data-ng-maxlength="60")
    .control-group
        label.control-label(for="siyuanid") 姓名
        .controls
            //input(type="siyuanid", data-ng-model="siyuanid", placeholder="SiyuanId", name="siyuanid", required)
            input(type="text", data-ng-model="siyuanid", required, ui-autocomplete="myOption")
    .control-group
        label.control-label(for="email") E-mail
        .controls
            input(type="email", data-ng-model="email", placeholder="Email", name="email", required)
    .control-group
        .controls
            button.btn(type="submit", data-ng-disabled="registerForm.$invalid") 提交

    .alert.alert-error(ng-show="registerForm.$invalid")
        strong Please correct the following errors:
        ul
            li(ng-show="registerForm.username.$error.required") Username is required
            li(ng-show="registerForm.username.$error.minlength") Username has to be at least 1 character long
            li(ng-show="registerForm.username.$error.maxlength") Username has to be at most 20 character long
            li(ng-show="registerForm.password.$error.required") Password is required
            li(ng-show="registerForm.password.$error.minlength") Password must be at least 5 characters long
            li(ng-show="registerForm.password.$error.maxlength") Password must be at most 60 characters long