.checkSiyuanRen.container
    .large-empty-row.row
    h1 搜索
    .small-empty-row
    #searchResult.row
        table.table.table-bordered.span4(data-ng-show='results')
            thead
                tr
                    th 姓名
                    th 思源学员期数
                    th 本科院系
            tbody
                tr(data-ng-repeat='r in results')
                    td {{ r['姓名']}}
                    td {{ r['思源学员期数']}}
                    td {{ r['本科院系']}}
    div
        a(href='/login') 登录
        span 可以查询更详细的信息