!!! 5
html.siyuanren(lang='en', data-ng-app='angular-client-side-auth')
    head
        meta(charset='utf-8')
        title 思源人(beta)

        script(src='/thirdparty/jquery/jquery.min.js')
        script(src='/thirdparty/jquery/jquery-ui.min.js')

        link(href="/thirdparty/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(href="/thirdparty/lexrus-fontdiao-830f6e7/css/fontdiao.css", rel="stylesheet")
        link(href="/thirdparty/bower_components/select2/select2.css", rel="stylesheet")

        link(rel='stylesheet', href='/thirdparty/editablegrid.git/editablegrid.css', type='text/css', media='screen')

        //link(rel="stylesheet/less", type="text/less", href='css/app.less')
        //link(rel="stylesheet/less", type="text/less", href='/thirdparty/twitter-bootstrap/less/responsive.less')

        link(rel="stylesheet", type="text/css", href='css/app.css')
        link(rel="stylesheet", type="text/css", href='/thirdparty/twitter-bootstrap/less/responsive.css')


        script(src="/thirdparty/less/less-1.4.1.min.js", type="text/javascript")

        script(type="text/javascript")
            if (window.location.href.indexOf('#_=_') > 0) {
                window.location = window.location.href.replace(/#.*/, '');
            }
    body(data-ng-controller="AppCtrl", data-ng-cloak)
        #navbar.navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container
                    button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    div
                        a.brand(href='/') 思源人(beta)
                    .nav-collapse.collapse
                        ul.nav
                            li(data-access-level='{{ accessLevels.user }}', active-nav)
                                a(href='/underConstruction')
                                    i.icon-home
                                    | 个人首页
                            li(data-access-level='{{ accessLevels.anon }}', active-nav)

                                a(href='/underConstruction')
                                    i.icon-rss
                                    | 新闻
                            li(data-access-level='{{ accessLevels.anon }}', active-nav)
                                a(href='/underConstruction')
                                    i.icon-book
                                    | 介绍


                            li(data-access-level='{{ accessLevels.user }}', active-nav)
                                a(href='/underConstruction')
                                    i.icon-calendar
                                    | 近期活动
                            li.dropdown(data-access-level='{{ accessLevels.user }}', active-nav)
                                a.dropdown-toggle(href='/peopletable')
                                    i.icon-table
                                    | 通讯录
                                ul.dropdown-menu
                                    li
                                        a(href='/peopletable/#qt') 全体
                                    li
                                        a(href='/peopletable/#bq') 本期
                                    li
                                        a(href='/peopletable/#bx') 本系
                                    li
                                        a(href='/changeHistory') 修订记录



                            li(data-ng-controller='SearchAutoCompleteCtrl')
                                form.navbar-search
                                    input#q.search-query(type="text", data-ng-keyup="keypress($event)", placeholder="查询：请输入姓名")
                                    i.icon-search(data-ng-click='searchBtn()')



                        ul.nav.pull-right.nav
                            li(data-access-level='{{ accessLevels.anon }}', active-nav)
                                a(href='/login')
                                    i.icon-signin
                                    | 登录

                            li.dropdown(data-access-level='{{ accessLevels.user }}')
                                a.dropdown-toggle(href="")
                                    i.icon-user
                                    strong {{ user.username }}&nbsp;
                                    span.label(data-ng-class='{"label-info": user.role == userRoles.user, "label-success": user.role == userRoles.admin}') {{ getUserRoleText(user.role) }}
                                ul.dropdown-menu
                                    li(data-access-level='{{ accessLevels.admin }}', active-nav)
                                        a(href='/admin')
                                            i.icon-gears
                                            | 管理
                                    li(data-access-level='{{ accessLevels.user }}')
                                        a(href="", data-ng-click="logout()")
                                            i.icon-signout
                                            | 登出

        .wide(data-ng-view='ng-view')
        .alert.alert-error(data-ng-bind="error", data-ng-show="error")

        footer
            #navbar.navbar.navbar-inverse.navbar-fixed-bottom
                .navbar-inner
                    .container
                        ul.nav.pull-right.nav
                            li
                                a(href='http://www.zzn.im') © 2013 Zainan Victor Zhou

        script(src='/thirdparty/twitter-bootstrap/2.3.2/js/bootstrap.js')
        script(src='/thirdparty/socket.io/0.9.10/socket.io.min.js')
        script(src='/thirdparty/bower_components/underscore/underscore.js')
        script(src='/thirdparty/angularjs/1.1.4/angular.js')
        script(src='/thirdparty/angularjs/1.1.4/angular-cookies.js')

        script(src='/thirdparty/jquery/jquery.serialize-object.compiled.js')
        script(src='/thirdparty/angular-ui-autocomplete/autocomplete.js')
        script(src='/thirdparty/bower_components/select2/select2.js')

        script(src='/thirdparty/editablegrid.git/editablegrid.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_charts.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_editors.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_renderers.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_utils.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_validators.js')
        script(src="/thirdparty/midway/midway.min.js")
        script(src="/thirdparty/angular-ui/ui-bootstrap-tpls-0.3.0.js")
        script(src='/js/routingConfig.js')
        script(src='/js/app.js')
        script(src='/js/services.js')
        script(src='/js/controllers.js')
        script(src='/js/directives.js')
        script(src='/js/peopletable.js')
        script(src='/js/ctrls/searchAutoCompleteCtrl.js')
        script(src='/js/ctrls/searchCtrl.js')
