!!! 5
html(lang='en', data-ng-app='angular-client-side-auth')
    head
        meta(charset='utf-8')
        title 思源人
        script(src='/thirdparty/jquery/jquery.min.js')
        script(src='/thirdparty/jquery/jquery-ui.min.js')
        link(href="/thirdparty/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", rel="stylesheet")
        link(href="/thirdparty/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(href="/thirdparty/lexrus-fontdiao-830f6e7/css/fontdiao.css", rel="stylesheet")
        link(href="/thirdparty/bower_components/select2/select2.css", rel="stylesheet")

        // Editable.git
        link(rel='stylesheet', href='/thirdparty/editablegrid.git/editablegrid.css', type='text/css', media='screen')
        link(rel='stylesheet', href='css/app.css')

        // This is needed because Facebook login redirects add #_=_ at the end of the URL
        script(type="text/javascript")
            if (window.location.href.indexOf('#_=_') > 0) {
                window.location = window.location.href.replace(/#.*/, '');
            }
    body(data-ng-controller="AppCtrl", data-ng-cloak)
        #cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
        .navbar-wrapper
        .container
            .navbar._navbar-inverse
                .navbar-inner
                    button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.brand(href='#') 思源人
                    .nav-collapse.collapse
                        ul.nav
                            li(data-access-level='{{ accessLevels.anon }}', active-nav)
                                a(href='/checkSiyuanRen') 查询

                            li(data-access-level='{{ accessLevels.user }}', active-nav)
                                a(href='/me') 首页

                            li(data-access-level='{{ accessLevels.user }}', active-nav)
                                a(href='/peopletable') 搜索思源人
                            li(data-access-level='{{ accessLevels.user }}', active-nav)
                                a(href='/changeHistory') 修订历史
                            li(data-access-level='{{ accessLevels.admin }}', active-nav)
                                a(href='/admin') 管理

                         ul.nav.pull-right.nav
                            li(data-access-level='{{ accessLevels.anon }}', active-nav)
                                a(href='/login') 登录
                            li(data-access-level='{{ accessLevels.user }}')
                                a(href="", data-ng-click="logout()")
                                    strong {{ user.username }}&nbsp;
                                    span.label(data-ng-class='{"label-info": user.role == userRoles.user, "label-success": user.role == userRoles.admin}') {{ getUserRoleText(user.role) }}
                            li(data-access-level='{{ accessLevels.user }}')
                                a(href="", data-ng-click="logout()")
                                    | 登出
        .container
            div(data-ng-view='ng-view')
            .alert.alert-error(data-ng-bind="error", data-ng-show="error")

        script(src='/thirdparty/socket.io/0.9.10/socket.io.min.js')
        script(src='/thirdparty/bower_components/underscore/underscore.js')
        script(src='/thirdparty/angularjs/1.1.4/angular.js')
        script(src='/thirdparty/angularjs/1.1.4/angular-cookies.js')

        script(src='/thirdparty/jquery/jquery.serialize-object.compiled.js')
        script(src='/thirdparty/angular-ui-autocomplete/autocomplete.js')
        script(src='/thirdparty/bower_components/select2/select2.js')
        // For EditableGrid
        script(src='/thirdparty/editablegrid.git/editablegrid.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_charts.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_editors.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_renderers.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_utils.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_validators.js')
        script(src="/thirdparty/midway/midway.min.js")
        script(src="/thirdparty/angular-ui/ui-bootstrap-tpls-0.3.0.js")
        script(src='/js/routingConfig.js')
        script(src='/js/app.js')
        script(src='/js/services.js')
        script(src='/js/controllers.js')
        script(src='/js/directives.js')
        script(src='/js/peopletable.js')
