!!! 5
html(lang='en', data-ng-app='angular-client-side-auth')
    head
        meta(charset='utf-8')
        title 思源人

        link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css", rel="stylesheet")
        link(href="/thirdparty/lexrus-fontdiao-830f6e7/css/fontdiao.css", rel="stylesheet")

        // Editable.git
        link(rel='stylesheet', href='/thirdparty/editablegrid.git/editablegrid.css', type='text/css', media='screen')
        link(rel='stylesheet', href='css/app.css')
        // This is needed because Facebook login redirects add #_=_ at the end of the URL
        script(type="text/javascript")
            if (window.location.href.indexOf('#_=_') > 0) {
                window.location = window.location.href.replace(/#.*/, '');
            }
    body(data-ng-controller="AppCtrl", data-ng-cloak)

        #cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")

        .navbar
            .navbar-inner
                .container-fluid
                    ul.nav
                        li(data-access-level='{{ accessLevels.anon }}', active-nav)
                            a(href='/login') 登录
                        li(data-access-level='{{ accessLevels.anon }}', active-nav)
                            a(href='/register') 注册
                        li(data-access-level='{{ accessLevels.user }}', active-nav)
                            a(href='/') 首页
                        li(data-access-level='{{ accessLevels.user }}', active-nav)
                            a(href='/private') 空白
                        li(data-access-level='{{ accessLevels.admin }}', active-nav)
                            a(href='/peopletable') 搜索思源人
                        li(data-access-level='{{ accessLevels.admin }}', active-nav)
                            a(href='/admin') 管理
                        li(data-access-level='{{ accessLevels.user }}')
                            a(href="", data-ng-click="logout()")
                                | 登出
                    div#userInfo.pull-right(data-access-level='{{ accessLevels.user }}')
                        | 欢迎你：&nbsp;
                        strong {{ user.username }}&nbsp;
                        span.label(data-ng-class='{"label-info": user.role == userRoles.user, "label-success": user.role == userRoles.admin}') {{ getUserRoleText(user.role) }}

        .container
            div(data-ng-view='ng-view')
            .alert.alert-error(data-ng-bind="error", data-ng-show="error")
        //script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-cookies.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(src='/thirdparty/jquery/jquery.serialize-object.compiled.js')
        // For EditableGrid
        //script(src='/thirdparty/editablegrid/editablegrid-2.0.1.js')
        script(src='/thirdparty/editablegrid.git/editablegrid.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_charts.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_editors.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_renderers.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_utils.js')
        script(src='/thirdparty/editablegrid.git/editablegrid_validators.js')

        script(src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js")
        script(src='/js/routingConfig.js')
        script(src='/js/app.js')
        script(src='/js/services.js')
        script(src='/js/controllers.js')
        script(src='/js/filters.js')
        script(src='/js/directives.js')
        script(src='/js/peopletable.js')
